* {
  box-sizing: border-box;
}

.navigation{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.navbar__logo img{
    width: 80px;
    border-radius: 50%;
}
.form-control{
  border: none;
}
.list-group a {
  font-size: 12px;
}

.list-group-item-dark {
  background-color: #212529;;
}

.main{
  display: flex;
}

.square{
  height: 200px;
}